@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    font-family: 'Dosis', sans-serif;
    font-family: 'Poppins', sans-serif;
}
nav .nav-item{
    padding: 7px 23px;
        font-weight: bolder;
}


.card{
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    text-align :center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}