/* @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&family=Poppins:wght@200;300;400;500;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;900&family=Poppins:wght@200;300;400;500;600&family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    /* font-family: 'Dosis', sans-serif;
    font-family: 'Poppins', sans-serif; */
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}
nav .nav-item{
    padding: 7px 23px;
    font-size:18px ;
}

/* #cover{background-image: url("img/home1.png");
height: 100vh;
width: 100%;
background-size: cover;} */


/* .top-left {
    position: absolute;
    top: -292px;
    left: -104px;
  }
  p.top-left{
    position: absolute;
    top: -222px;
    left: -104px;
  } */
.card{
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    text-align :center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 20px 0 30px;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	border-radius: 1px;
	background: #7ac400;
	left: 0;
	right: 0;
	bottom: -20px;
}
.collection img{
    object-fit: contain;
    height: 148px;
    width: 159px;
    padding: 40px;
    background-color: rgba(114, 109, 109, 0.2);
  }
  .collection img:hover{
    background-color: rgb(199 199 199);
  }
  .contactForm .form-control {
    border: none;
    border-bottom: 1px solid black;
    padding: 0;
    font-size: 16px
  }
  .form-control {
    height: 52px;
    background: transparent;
    display: block;
      width: 100%;
  }
  .form-group{
    margin-bottom: 1rem;
  }
  .info-wrap .dbox{
    margin-bottom: 25px;
  }
  .form-group .form-control{
    height: 48px;
    margin-bottom: 23px;
  }
  .info-wrap .dbox p {
    margin-bottom: 0;
    margin-top: 0;
  }
  .info-wrap .dbox p a {
    color: rgba(141, 135, 135, 0.3);
  }
  .info-wrap .dbox .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
  }
  .info-wrap .dbox .icon span {
    font-size: 20px;
    color: #000;
  }



@media(min-width:993px){
    #form{
        width: 880px;
    }
}

