@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    font-family: 'Dosis', sans-serif;
    font-family: 'Poppins', sans-serif;
}
nav .nav-item{
    padding: 7px 23px;
        font-weight: bolder;
}
/* .carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
   }
   
   .carousel-fade  .carousel-item.active,
   .carousel-fade  .carousel-item-next.carousel-item-left,
   .carousel-fade  .carousel-item-prev.carousel-item-right {
     opacity: 1;
   }
   
   .carousel-fade .active.carousel-item-left,
   .carousel-fade  .active.carousel-item-right {
    opacity: 0;
   }
   
   .carousel-fade  .carousel-item-next,
   .carousel-fade .carousel-item-prev,
   .carousel-fade .carousel-item.active,
   .carousel-fade .active.carousel-item-left,
   .carousel-fade  .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
   }


.para{
    position: absolute;
    top: 165px;
    left: 100px;
} */
.carousel-inner .carousel-caption h5{
    position: absolute;
    top: -350px;
    left: -171px;
    color: black;
    font-size: 60px;
    font-weight: bold;
}
.carousel-inner .carousel-caption p{
    position: absolute;
    top: -330x;
    left: -171px;
    color: black;
    font-size: 40px;
}
